<template name="Navbar_Visita">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">COTRAINCO123<span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link mostrar">Login/Registrar</a></li>
                    <li class="nav-item active"><a href="/" class="nav-link">Principal</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Acerca de Nosotros</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Nuestras Unidades</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">Contactanos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{#if ventana}}
        {{>LoginModal}}
    {{/if}}
</template>

<template name="Navbar_Admin">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Admin<span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link logout">Logout</a></li>
                    <li class="nav-item active"><a href="/" class="nav-link">Principal</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" >
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSocio">Registrar Socio</a>
                            <a class="dropdown-item" href="/RegistrarCliente">Registrar Cliente</a>
                            <a class="dropdown-item" href="/RegistrarPersonal">Registrar Personal</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Camiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarTracto">Registrar Tracto</a>
                            <a class="dropdown-item" href="/RegistrarChata">Registrar Chata</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sanciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSancion">Registrar Sanción</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Encomiendas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarEncomienda">Registrar Encomienda</a>
                            <a class="dropdown-item" href="/Reparto">Reparto</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="/RegistrarGeolocalizacion" class="nav-link">Geolocalización</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="Navbar_Secre">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Secretaria<span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link logout">Logout</a></li>                    <li class="nav-item active"><a href="/" class="nav-link">Principal</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/AdminUsuario">Listar Usuario</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Camiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/AdminCamion">Listar Camiones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sanciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/AdminSancion">Listar Sanción</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Encomiendas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/AdminEncomienda">Administrar Encomienda</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="/RegistrarGeolocalizacion" class="nav-link">Geolocalización</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="Navbar_Socio">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Socio<span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link logout">Logout</a></li>                    <li class="nav-item active"><a href="/" class="nav-link">Principal</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSocio">Registrar Socio</a>
                            <a class="dropdown-item" href="/RegistrarCliente">Registrar Cliente</a>
                            <a class="dropdown-item" href="/RegistrarPersonal">Registrar Personal</a>
                            <a class="dropdown-item" href="/AdminUsuario">Administrar Usuario</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Camiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarTracto">Registrar Tracto</a>
                            <a class="dropdown-item" href="/RegistrarChata">Registrar Chata</a>
                            <a class="dropdown-item" href="/AdminCamion">Administrar Camiones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sanciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSancion">Registrar Sanción</a>
                            <a class="dropdown-item" href="/AdminSancion">Administrar Sanción</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Encomiendas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarEncomienda">Registrar Encomienda</a>
                            <a class="dropdown-item" href="/AdminEncomienda">Administrar Encomienda</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="/RegistrarGeolocalizacion" class="nav-link">Geolocalización</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="Navbar_Cliente">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">Cliente<span></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link logout">Logout</a></li>                    <li class="nav-item active"><a href="/" class="nav-link">Principal</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSocio">Registrar Socio</a>
                            <a class="dropdown-item" href="/RegistrarCliente">Registrar Cliente</a>
                            <a class="dropdown-item" href="/RegistrarPersonal">Registrar Personal</a>
                            <a class="dropdown-item" href="/AdminUsuario">Administrar Usuario</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Camiones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarTracto">Registrar Tracto</a>
                            <a class="dropdown-item" href="/RegistrarChata">Registrar Chata</a>
                            <a class="dropdown-item" href="/AdminCamion">Administrar Camiones</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sanciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarSancion">Registrar Sanción</a>
                            <a class="dropdown-item" href="/AdminSancion">Administrar Sanción</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Encomiendas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/RegistrarEncomienda">Registrar Encomienda</a>
                            <a class="dropdown-item" href="/AdminEncomienda">Administrar Encomienda</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="/RegistrarGeolocalizacion" class="nav-link">Geolocalización</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>